@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins&family=Roboto&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all 0.2s linear; 
}

body{
    background-color: #f0f0f0;
}

#heroo{
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    background-image: url(../img/polaroid-32180_1280.png);
    background-size: cover;
}
header{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    color: #fff;
    font-size: 2.3em;
    font-weight: 550;
    font-family: monospace;
    margin-left: 5%;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 14px;
    font-weight: 100;
    padding: 20px;
    color: #ffffff;
    display: block;
}
header .navbar ul li a:hover{
    color: #3a3a3a;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #3a3a3a;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
} 

.bn14 {
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    margin-right: 10%;
    position: relative;
    border: 1px solid #ffffff;
}

.bn14:hover{
    background-color: #3a3a3a;
}

#heroo .lange h1{
    position: relative;
    color: white;
    padding: 200px 0px 0px 490px;
    justify-content: center;
    font-size: 5em;
    font-family: monospace;
}

#heroo .lange p{
    padding: 0px 0px 0px 420px;
    color: white;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9em;
}

.box {
    width: 190px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
}
  
.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
  
.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
  
.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
  
.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
  
.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}
  
button {
    padding: 15px 0px 0px 525px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

.alkat{
    display: flex;
    align-items: center;
    border-bottom: solid;
    width: 1100px;
    height: 40px;
    margin: 5%;
    text-transform: uppercase;
    color: rgb(136, 136, 136);
}

#langs{
    display: flex;
}

#mian{
    display: flex;
}

.asd{
    font-size: 2.7em;
    padding: 0px 25px 0px 0px;
    flex-direction:column;
}
.contact h3{
    font-size: 2em;
    text-transform: uppercase;
}

.alkat2{
    border-bottom: solid;
    width: 550px;
    margin-right: 5%;
    margin-top: 5%;
    color: rgb(218, 215, 199);
}

.asds{
    font-size: 2.7em;
    margin: -15px;
}

.contact{
    flex-direction: row;
}
.boxx{
    margin-top: -110px;
    margin-left: 30px;
}
.box2 {

    width: 190px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 15px;
    background: transparent;
    background-color: rgb(27, 26, 26);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
  
.box2:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
  
.box2:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
  
.box2:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
  
.box2:hover:before {
    border-color: #ffffff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
  
.box2:hover:after {
    border-color: #ffffff;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.mian2{
    display: flex;
    margin-left: 25%;
    margin-top: 5%;
}

.what1 {
    font-size: 3.7em;
    text-transform: uppercase;
    margin-right: 30px;
}

.web{
    padding-left: 59px;
    text-transform: uppercase;
    font-family: monospace;
}

.web span{
    color: rgb(133, 133, 133);
}

.web1{
    margin-top: 15px;
    background-color: black;
    Width: 750px;
    height: 390px;
}

.alkat3{
    border-bottom: solid;
    width: 755px;
    height: 60px;
    color: #878787;
 }
 
.web2 h3{
    margin-top: 15px;
    font-size: 1.4em;
    
}

.web3 p{
    font-size: .9em;
    font-family: monospace;
    color: rgb(57, 57, 57);
    padding-top: 15px;
}

.videos{
    color: #fff;
    font-size: 2.7em;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.mian3{
    display: flex;
    margin-left: 57px;
}

.mian3 h1{
    font-size: 4.7em;
    text-transform: uppercase;
}

.mian3 p{
    padding: 10%;
    margin-right: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 0px 0px 70px 60px;
}
  
.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.flex {
    display: flex;
    width: 366px;
    gap: 90px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 150%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: green;
}
  
.input01 {
    width: 436px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
}
  
.form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
}
  
.form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input01:valid + span {
    color: green;
}
  
.fancy {
    background-color: #262626;
    border: 2px solid #262626;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}
  
.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #ffffff;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}
  
.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #ffffff;
    transform: translateX(30%);
}
  
.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
  
.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
.fancy:hover {
    color: white;
    background: #262626;
}
  
.fancy:hover::before {
    width: 1.5rem;
    background: white;
}
  
.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}
  
.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}
  
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.about1{
    padding-top: 1.9%;
}
.about1 h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.7em;
    text-transform: uppercase;
    position: relative;
    padding: 0px 0px 10px 60px;
} 

.about1 p{
    padding-left:60px ;
}

.container{
    min-width: 1170px;
    margin: 5%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
}

.footer-col1{
    margin-left: 24%;
}

.footer-col h4{
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.footer-col1 h4{
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #3a3a3a;
}

.footer-col ul li a:hover{
    padding-left: 7px;
}

.footer-col1 a{
    color: #424242;
    font-size: 1.2em;
    padding-left: 25%;
}

.footer-col1 a:hover{
    color: #878787;
}


